/*=================================================
 *  Le css comporte 2 parties:
 * - La 1ère partie contient les styles des entêtes, body et footer
 * - La 2ème partie contient les styles des pages de chacun
 *
 * TODO: Ajouter le style correspondant à votre page à la suite de ce css en précisant le titre de votre page
 */
/*________________________________________________________________________________________________________________
  ________________________________________________________________________________________________________________*/
/*=================================================
 * all et html 
 */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/*=================================================
 * header et son menu deroulant
 */
header {
  background: black;
  height: 102px;
  border-bottom: 2px solid #006666;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
.header .menu {
  clear: none;
  max-height: none;
}
.header .menu-icon {
  display: none;
}
.header .menu-btn {
  display: none;
}

header a {
  text-decoration: none;
  color: white;
  text-align: center;
  font: normal 12px verdana, sans-serif;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header li {
  float: left;
  border-right: 1px solid #bbb;
  margin-top: 15px;
}

header li.home {
  width: 50px;
  text-align: center;
  margin-top: 16px;
}

header li.home a {
  padding: 0;
  background: transparent;
}

header li.home a img {
  width: 30px;
}

header li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover,
.dropdown:hover .dropbtn {
  background-color: black;
}

header li.dropdown {
  display: inline-block;
}

header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

header .dropdown-content a:hover {
  background-color: #f1f1f1;
}

header .dropdown:hover .dropdown-content {
  display: block;
}

/*=================================================
 * body
 */

body {
  height: 75%;
  margin: 10px;
}

body p {
  text-align: left;
  font: normal 15px verdana, sans-serif;
  padding-left: 10px;
  margin: 0;
}

header div {
  padding-bottom: 0px;
}

body div {
  padding-bottom: 50px;
}

/*=================================================
 * footer
 */
footer {
  background: #333;
  height: 85px;
  border-top: 2px solid #660000;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

footer p {
  text-align: center;
  color: white;
  font: normal 11px verdana, sans-serif;
  padding-top: 12px;
  margin: 0;
}

/*________________________________________________________________________________________________________________
  ________________________________________________________________________________________________________________*/
/*=================================================
 *  Page d'accueil 
 */

#logo {
  background-image: url("../Images/japan.jpg");
  background-repeat: no-repeat;
  height: 69rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}
/*=================================================
 * presentation page 
 */
#pi {
  background-image: url("../Images/japan.jpg");
  background-repeat: no-repeat;
  height: 50rem;
  padding-bottom: 10%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}
.box {
  position: relative;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 82rem;
  height: 45rem;
  text-align: center;
  line-height: 1.5rem;
  padding: 4.5rem;
  opacity: 0.9;
}
.text {
  color: white;
}
.box h2 {
  font-size: 2.4rem;
  color: white;
}
.text p {
  font-size: 1.8rem;
}
/*=================================================
 * autocompletion de la recherche 
 */
#liste {
  position: absolute;
  top: auto;
  left: 0;
  right: 0 auto;
  width: 284px;
  margin: auto;
}
#liste > div {
  border: 1px solid #ccc;
  padding: 10px 5px;
  cursor: pointer;
}
#liste > div:hover {
  background: grey;
}
#liste > div.active {
  background-color: DodgerBlue;
  color: #ffffff;
}
/*=================================================
 * Page de login et de profil ?
 */
#logo {
  text-align: center;
  margin-top: 120px;
}

#contenu {
  margin-top: 120px;
  font: normal 12px verdana, sans-serif;
}

#contenu #registerForm {
  text-align: center;
  display: block;
}

#contenu #registerForm input {
  margin-top: 10px;
  display: block;
  margin-left: 495px;
}

.register {
  text-align: center;
}

#contenu #complements img {
  float: left;
  margin-right: 25px;
  width: 25%;
}

#contenu .error {
  text-align: center;
}
.disp {
  width: 10%;
  display: inline-block;
}

/*=================================================
 *  Page produit
 */
#phead {
  font-size: 50px;
  text-align: center;
  color: red;
}

#produit {
  text-align: center;
}

#produit img {
  height: 400px;
}

#decription1 {
  text-align: center;
  font-size: 30px;
}

#decription2 {
  text-align: center;
  font-size: 20px;
}

#prix {
  text-align: center;
  font-size: 30px;
  color: darkgreen;
}

#panier {
  height: 50px;
  position: fixed;
  top: 140px;
  right: 50px;
}

/*=================================================
 * Page produit list
 */
.produit_list {
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  margin: 15px auto;
  background: #fff;
}

.produit_list hr {
  margin-left: 0px;
  width: 35%;
}

.image_produit {
  float: left;
  position: absolute;
  top: 5px;
  left: 5%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 5%;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.produit_list:hover .image_produit {
  top: -40px;
}

.image_produit img {
  width: 60%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}

.content_produit {
  margin-left: 15%;
  color: #212121;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #333;
  background: #333;
  padding: 12px 30px;
  border-radius: 27px;
}

.content_produit span {
  padding: 5px;
  padding: 12px 30px;
  border: 1px solid #313131;
  background: #212121;
  color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 27px;
  transition: all 0.05s ease-in-out;
}

.content_produit span.description {
  padding: 10px;
  text-align: center;
  font-size: 7px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

/*=================================================
 *  Page panier, tunnel de commande
 */
label {
  font-size: 16px;
}

.custom-dropdown--large {
  font-size: 1.5em;
}

.custom-dropdown--small {
  font-size: 2.7em;
}

.custom-dropdown__select {
  font-size: inherit; /* inherit size from .custom-dropdown */
  padding: 0.5em; /* add some space*/
  margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
  background-color: #eee;
}

@supports (pointer-events: none) and
  ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
  .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .custom-dropdown__select {
    padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
    border: 0;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  .custom-dropdown::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 2.5em;
    font-size: 0.5em;
    line-height: 1;
    right: 0.5em;
    top: 50%;
    margin-top: -0.5em;
    background-color: #eee;
  }

  .custom-dropdown::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }

  .custom-dropdown__select[disabled] {
    color: rgba(0, 0, 0, 0.3);
  }

  .custom-dropdown.custom-dropdown--disabled::after {
    color: rgba(0, 0, 0, 0.1);
  }

  /* White dropdown style */
  .custom-dropdown--white::before {
    top: 0.5em;
    bottom: 0.5em;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }

  .custom-dropdown--white::after {
    color: rgba(0, 0, 0, 0.9);
  }

  /* FF only temp fix */
  @-moz-document url-prefix() {
    .custom-dropdown__select {
      padding-right: 0.9em;
    }
    .custom-dropdown--large .custom-dropdown__select {
      padding-right: 1.3em;
    }
    .custom-dropdown--small .custom-dropdown__select {
      padding-right: 0.5em;
    }
  }
}
/*=================================================
 *  Faq du site
 */
.subfaq {
  background-image: url(../Images/japan.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
}
.recherche {
  text-align: center;
}
.recherche:before,
.recherche:after {
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  margin: 0 0 0 -400px;
  position: absolute;
  width: 800px;
}

.recherche form {
  background: #111;
  background: linear-gradient(#1b1b1b, #111);
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #272727;
  display: inline-block;
  font-size: 0px;
  margin: 15px auto 0;
  padding: 15px;
  position: relative;
  z-index: 1;
  opacity: 0.9;
}

.recherche input {
  background: #222;
  background: linear-gradient(#333, #222);
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  float: left;
  font-family: "Cabin", helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 25px;
  margin: 0;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 120px;
}
.ie .recherche input {
  line-height: 40px;
}
.FAQ h2 {
  color: white;
}

.recherche input::-webkit-input-placeholder {
  color: #888;
}

.recherche input:-moz-placeholder {
  color: #888;
}
.recherche input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: linear-gradient(#333933, #222922);
  border-color: #393;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1),
    0 2px 0 #000;
  color: #efe;
  outline: none;
}

.recherche input:focus::-webkit-input-placeholder {
  color: #efe;
}

.recherche input:focus:-moz-placeholder {
  color: #efe;
}

.recherche button {
  background: #222;
  background: linear-gradient(#333, #222);
  box-sizing: border-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  display: block;
  float: left;
  font-family: "Cabin", helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 80px;
}
.recherche button:hover,
.recherche button:focus {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  color: #5f5;
  outline: none;
}

.recherche button:active {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}

@keyframes glow {
  0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1),
      0 2px 0 #000;
  }
  100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.6),
      inset 0 0 10px rgba(0, 255, 0, 0.4), 0 2px 0 #000;
  }
}
.faq {
  padding-bottom: 0;
}
.question h3 {
  font-size: large;
}
.question h4 {
  font-size: large;
}
.question:before,
.question:after {
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  margin: 0 0 0 -400px;
  position: absolute;
  width: 800px;
}

.question form {
  background: #111;
  background: linear-gradient(#1b1b1b, #111);
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #272727;
  display: inline-block;
  font-size: 0px;
  margin: 3px auto 0;
  padding: 3px;
  position: relative;
  z-index: 1;
  opacity: 0.9;
}

.question input {
  background: #222;
  background: linear-gradient(#333, #222);
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  float: left;
  font-family: "Cabin", helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 25px;
  margin: 0;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 120px;
}
.ie .question input {
  line-height: 40px;
}

.question input::-webkit-input-placeholder {
  color: #888;
}

.question input:-moz-placeholder {
  color: #888;
}
.question input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: linear-gradient(#333933, #222922);
  border-color: #393;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1),
    0 2px 0 #000;
  color: #efe;
  outline: none;
}

.question input:focus::-webkit-input-placeholder {
  color: #efe;
}

.question input:focus:-moz-placeholder {
  color: #efe;
}

.question button {
  background: #222;
  background: linear-gradient(#333, #222);
  box-sizing: border-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  display: block;
  float: left;
  font-family: "Cabin", helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 80px;
}
.question button:hover,
.question button:focus {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  color: #5f5;
  outline: none;
}

.question button:active {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}

.com {
  background: #111;
  background: linear-gradient(#1b1b1b, #111);
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #272727;
  display: inline-block;
  font-size: 25px;
  margin: 15px auto 0;
  padding: 15px;
  position: relative;
  z-index: 1;
  opacity: 0.9;
  resize: both;
  color: white;
}
.com [name="commentaires"] {
  resize: both;
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
}
.titrecom {
  margin-top: 50px;
}

/*=================================================
 *  Page Profile
 */
#contenu > table {
  margin: 20px 0 0 0;
  border-collapse: collapse;
  border-spacing: 0;
  background: #212121;
  color: #fff;
  width: 95%;
  line-height: 24px;
  border: 1rem solid black;
}
tbody tr {
  border-top: 2px solid rgba(109, 176, 231, 0.8);
  transition: background 0.6s, color 0.6s;
}
tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.2);
}

tbody tr:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.7);
  font-weight: 900;
}
tbody td {
  padding: 12px;
}

tbody tr:hover td:first-child {
  background: rgba(0, 0, 0, 0);
}

tbody td:first-child {
  text-align: left;
  padding-left: 20px;
  font-weight: 700;
  background: rgba(109, 176, 231, 0.35);
  transition: backgrounf 0.6s;
}

/*=================================================
 *  Page administration utilisateur
 */
body .admin table {
  border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

body .admin td {
  /* Pour vue administration user */
  border: 1px solid black;
  text-align: center;
}

body .admin th {
  border: 1px solid black;
}

/*===================
 * Historique commande
 */
#historique {
  text-align: center;
}

#historique h1 {
  color: red;
}

#historique table {
  text-align: center;
}

.encadrement {
  border: 1px solid black;
  width: 98%;
  margin: auto;
}

.encadrement td {
  width: 25%;
  color: #000000;
}

#tableauTotal {
  width: 100%;
  margin: auto;
  line-height: 24px;
  margin: auto;
}

#tableauTotal tr td {
  border: 1px solid black;
  line-height: 24px;
}

.tablePanier {
  width: 100%;
  line-height: 24px;
  margin: auto;
}

.tablePanier tr td {
  border: 1px solid black;
}

.encadrement:hover table {
  display: inline-table;
}

.tableCommande {
  display: none;
  margin: auto;
  width: 90%;
  line-height: 24px;
}

.tableCommande tr {
  border: 2px solid yellow;
}

.tableCommande tr td {
  border: 2px solid GoldenRod;
}

/*=================================================
 *  Page formulaire d'ajout, modification et suppression produit
 */

.admin_form table {
  font-family: "Roboto", serif;
  font-weight: bold;
}

.admin_form table tr {
  line-height: 2;
}

.admin_form table label {
  display: block;
  width: 460px;
  float: left;
}

.admin_form #sous_categorie {
  display: block;
  float: left;
}

.admin_form #categorie {
  display: block;
  float: left;
}

.admin_form #Check {
  width: 25px;
}

/*=================================================
 *  Page Music playsite geekanime
 */
#ij {
  background-image: url("../Images/japan.jpg");
  background-repeat: no-repeat;
  height: 70rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}
.player {
  margin-top: 50px;
}
.player-track {
  background-color: #333;
  opacity: 0.8;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 5px 5px 80px;
  border-radius: 10px 10px 0px 0px;
}
/*.active {
      top: -100px;
    }*/
.time {
  font-size: 16px;
  margin: 10px 0px;
  height: 6px;
}
.progress-bar {
  background-color: #d0d8e6;
  height: 3px;
  border-radius: 10px;
}
.fillBar {
  background-color: #a3b3ce;
  width: 0;
  height: 3px;
  border-radius: 20px;
}
.artist-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.music-name {
  font-size: 14px;
  margin-bottom: 10px;
}

.player-control {
  background-color: #333;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 15px 35px -5px rgba(206, 206, 206, 0.32);
  margin-left: 600px;
  margin-top: 30px;
  opacity: 0.8;
}

i {
  padding: 30px;
  font-size: 35px;
  cursor: pointer;
  text-align: center;
}
/*=================================================
 *  Format moblie responsive 
 */
@media screen and (max-width: 700px) {
  /*page acceuil moblie */

  #logo {
    height: 100vh;
    background-size: cover;
  }
  header {
    height: 197px;
  }

  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 17px 10px;
    position: relative;
    user-select: none;
  }

  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 5px;
  }

  .header .menu-icon .navicon:after {
    top: -5px;
  }

  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  /*page presentation moblie */
  #pi {
    background-size: cover;
    height: 100vh;
    right: 0;
  }

  .box {
    top: 10%;
    left: 0%;
    height: 0;
    right: 0;
    padding: 0 auto;
    margin: 0 auto;
    width: 50%;
    transform: none;
  }
  .box h2 {
    font-size: 2rem;
    text-align: center;
    left: 25%;
  }
  .text p {
    font-size: 1.8rem;
  }
  /* page de recheche en mobile */
  #contenu {
    margin-top: 200px;
  }
  /* page de produit liste en mobile */
  .produit_list {
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    margin: 15px auto;
    background: #fff;
  }

  .produit_list hr {
    margin-left: 0px;
    width: 35%;
  }

  .image_produit {
    float: left;
    position: absolute;
    top: 5px;
    left: 5%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -khtml-transform: translate(-50%);
    width: 15%;
    padding: 15px;
    transition: all 0.2s ease-in-out;
  }
  .produit_list:hover .image_produit {
    top: -40px;
  }

  .image_produit img {
    width: 60%;
    padding: 15px;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
  }

  .content_produit {
    margin-left: 15%;
    color: #212121;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    border-color: #333;
    background: #333;
    padding: 12px 30px;
    border-radius: 27px;
  }

  .content_produit span {
    padding: 5px;
    padding: 12px 30px;
    border: 1px solid #313131;
    background: #212121;
    color: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 27px;
    transition: all 0.05s ease-in-out;
  }

  .content_produit span.description {
    padding: 10px;
    text-align: center;
    font-size: 7px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.2s ease-in-out;
  }

  /* page de music en mobile */
  #ij {
    height: 100vh;
    background-attachment: scroll;
  }
  .player-control {
    margin-left: 10px;
  }
  /*page de login en mobile*/
  #loginform {
    margin-bottom: 15px;
  }
  /* page profile en mobile */
  table {
    margin-right: 50%;
    width: 50%;
  }
  tbody tr {
    margin-bottom: 40px;
    display: inline-grid;
  }

  .table td {
    display: block;
    text-align: right;
  }
  /* page Faq */
  .com {
    resize: none;
  }
}
